<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.project2"
    tools:ignore="ExtraText">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".GoogleMap.LocationBackground"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location" />

        <activity android:name=".Chatting.MessageActivity" />
        <activity android:name=".Main.InquiryActivity" />
        <activity android:name=".Main.CalenderActivity" />
        <activity
            android:name=".GoogleMap.WalkFinishPopup"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".GoogleMap.WalkFinishPopup2"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".Camera.MediaScanner"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Setting.MyInfomationFragment"
            tools:ignore="Instantiatable" />
        <activity android:name=".Login_Membership.ResetpasswordActivity" />
        <activity android:name=".Login_Membership.UserJoinActivity" />
        <activity android:name=".Login_Membership.LoginActivity" />
        <activity android:name=".Friend.FriendMainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB8NAN4VfMVsaboxOc9qtECUiulJMrH5nI" />

        <activity android:name=".Login_Membership.UserinfoActivity" />
        <activity android:name=".Login_Membership.InfoEditActivity" />
        <activity android:name=".Camera.CameraActivity" />
        <activity
            android:name=".Main.MainActivity"
            android:label="@string/app_name">

            <!-- android:theme="@style/AppTheme.NoActionBar" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.project2"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver android:name=".Main.DeviceBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".Main.AlarmReceiver" />
    </application>


</manifest>